<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Learn Vuejs </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="js/vue.js"></script>
  </head>
  <body>
    <div class="container">

      <avatar></avatar>
      <div class="row"  id="app1">
        <div class="col-md-12 mb-5" v-for= "(post,index) in posts" :key="index" :id="`post-${index+1}`" >
          <avatar></avatar>

          <div class="card">
            <div class="card-header">
              {{post.category | capitalize}}
              <small v-show="post.published_at">- {{post.published_at}}</small>
            </div>
            <div class="card-body" @click.self="increaseSize">
              <h5 class="card-title">{{index+1}}-{{post.title}}</h5>
              <p class="card-text" :style=" {'font-size' : size + 'px'}">{{post.content}}</p>
              <a :href="post.url"  target="blank" class="btn btn-primary" @click.prevent.once= "increaseSize" >Read More.. </a>
              <!-- <button :href="post.url"  target="blank" class="btn btn-primary" @click= "increaseSize()" >Read More.. </button> -->

              <small class="ml-3" v-if="post.comments.length>0 " :style=" {'font-size' : size + 'px'}">
                {{post.comments.length}}
                <li class="fas fa-comment"></li>
              </small>

              <small class="ml-3" v-else>
                No comments Yet! :(
              </small>
            </div>
          </div>
        </div>
          <small>{{fullName}}</small>
    </div>



</div>

<script>

Vue.config.productionTip = false;

Vue.component('avatar', {
  template: '<div>hi</div>'
});


Vue.filter('capitalize', function (value) {
  if (!value) return ''
  value = value.toString()
  return value.charAt(0).toUpperCase() + value.slice(1)
});
let box1 = new Vue({
  el : "#app1",
  data : {
    x : false,
    size: 20,
    first_name : "fatma",
    second_name : "mohammed",
    posts : [
      {
        id : 1,
        category: "javaScript",
        title: "introduction to js",
        content : "hi from contenet ",
        url : "https://vuejs.org/",
        comments : ["hi" , "thanks"],
        published_at : "12 mar 2020",

    },

    {
      id : 2,
      category: "php",
      title: "introduction to php",
      content : "hi from php contenet ",
      url : "https://vuejs.org/",
      comments : [],
      published_at : "",

    },

    ]
  },
 created(){
   this.sum(4,3);
 },

computed:{

  fullName(){
    console.log(this.first_name);
    return '  '+this.first_name + '   ' + this.second_name;
  }
},
  methods :{
    sum(num1, num2){
      console.log(num1+num2);
    },

    increaseSize(event){
    console.log(event.target);
      // event.preventDefault();
      // event.preventDefault();
      this.size++;
    }

  }
});
</script>
  </body>
</html>
