<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title> Learn Vuejs-Form </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      <script src="js/vue.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row"  id="app1">

        <div class="alert alert-danger" role="alert" v-if="errors.length > 0">
            <li v-for="err in errors">{{err}}</li>
        </div>
          <form  @submit.prevent="onFormSubmit" class="form-control">
                <div class="form-group">
                  <label for="email"> Email</label>
                    <input type="text" class="form-control" name="email" v-model="formData.email">

                  <label for="password">Password</label>
                    <input type="paasword" class="form-control" name="password" v-model="formData.password">

                  <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>


      </div>
    </div>


   <script>

        Vue.config.productionTip = false;
        let box1 = new Vue({
          el : "#app1",
          data : {
            formData:{
              email: null,
              password: null
            },

            errors:[],
          },
          computed:{


        },
        methods :{
            onFormSubmit(){
                if(!this.formData.email){
                  this.errors.push('Email is required');
                }

                if(!this.formData.password){
                  this.errors.push('password is required');
                }

                if(this.errors.length){
                  return false;
                }
            }

        }


        });
    </script>
  </body>
</html>
