<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title> Learn Vuejs-toDoList </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      <script src="js/vue.js"></script>

      <style>
      .completed{
        text-decoration: line-through;
        color: #ccc;
      }

      </style>
  </head>
  <body>
    <div class="container">
      <div class="row"  id="app1">

      <div class="col-12 mt-5">

        <div class="card">
            <div class="card-header">
              <h2>ToDo List</h2>
            </div>
            <div class="card-body">
                    <div class="form-group">
                      <input  class="form-control" placeholder="What needs To be done?"
                      v-model="newTask" @keyup.enter="addTask">
                    </div>
                      <hr>
                    <ul class="list-group mt-5">
                        <li class="list-group-item px-5" v-for="(item,index) in taskList" :key="index">
                          <label class="form-check-label" for="defaultCheck1" :class="{completed: item.done}">
                          <input class="form-check-input" type="checkbox" id="defaultCheck1" @click="updateTask(index)">
                              {{item.desc}}
                          </label>
                          <button type="button" class="btn btn-link text-danger float-right" @click="deleteTask(index)" >
                            <i class=" fa fa-times"></i>
                          </button>
                        </li>

                    </ul>

            </div>

            <div class="card-footer text-muted" v-if="taskList.length">
              {{activeTasks.length}} item  left

              <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary " :class="{active: filter=1}"  @click="filter=1">All</button>
                <button type="button" class="btn btn-primary"  :class="{active: filter=2}"  @click="filter=2" >Active</button>
                <button type="button" class="btn btn-primary"  :class="{active: filter=3}"  @click="filter=3" >Completed</button>
              </div>
              </div>


          </div>
        </div>


      </div>
    </div>


   <script>
        Vue.config.productionTip = false;
        let box1 = new Vue({
          el : "#app1",
          data : {
              taskList:[],
              newTask : null,
              filter:1,
            },

            computed:{
              filteredTasks(){

                switch(this.filter){
                  case 1:
                    return this.taskList;
                  case 2:
                      return this.taskList.filter(function(task){
                          return !task.done;
                      });
                    case 3:
                    return this.taskList.filter(function(task){
                        return task.done;
                    });
                }
              },

              activeTasks(){
                return this.taskList.filter(function(task){
                    return !task.done;
                });
              }
            },
            created(){
              let tasks = localStorage.getItem('tasks');

              if (tasks){
                    this.taskList = JSON.parse(tasks);
              }else{
                localStorage.setItem('tasks',this.taskList);
              }
            },


            methods:{
              //ADD ITEMS TO ARRAY
              addTask(){
              this.taskList.push({
                desc: this.newTask,
                 done: false
              });
              localStorage.setItem("tasks", JSON.stringify(this.taskList));
              this.newTask= null;
            },

            //UPDATE ITEM
            updateTask(taskIndex){
              let task =  this.taskList[taskIndex];
              localStorage.setItem("tasks", JSON.stringify(this.taskList));
              task.done =!task.done;
              },

            //DEELETE USING ARRAY SPLICE
            deleteTask(taskIndex){
              this.taskList.splice(taskIndex,1);
              localStorage.setItem("tasks", JSON.stringify(this.taskList));
            }
            }

        });
    </script>
  </body>
</html>
